@font-face {
  font-family: 'Tenkai';
  src: url('/fonts/Tenkai.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fdf6e3;
  
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.app-container {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  min-width: 100vh;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: black;
}

.section {
  min-height: 100vh;
  padding: 100px 60px;
  position: relative;
  z-index: 1;
}